<app-details-view
  [name]="(databases$|async).database?._properties?.dbName"
  [actions]="actions"
  (actionClicked)="onActionClicked($event)">
  <as-split [direction]="direction" [useTransition]="true" style="height: calc(100vh-64px);">
    <as-split-area size="30">
      <mat-form-field>
        <input type="text" matInput [(ngModel)]="filter" autocomplete="off">
      </mat-form-field>
      <mat-nav-list *ngIf="filter">
        <mat-list-item
          *ngFor="let table of (databases$|async).database?.table|objectKeys|objectListFilter:filter:'name'"
          (click)="onClickTable(table)">
          <a matLine>{{ table.name }}</a>
        </mat-list-item>
      </mat-nav-list>
      <p>{{((databases$|async).database?.table|objectKeys).length}} tables available. Pleae type to filter</p>
    </as-split-area>
    <as-split-area size="70" *ngIf="databaseTable || newTable">
      <app-table [table]="databaseTable" *ngIf="databaseTable && !newTable"></app-table>
      <app-edit-table [database]="(databases$|async).database" *ngIf="newTable" (cancel)="newTable = false" (save)="onSave($event)"></app-edit-table>
    </as-split-area>
  </as-split>
</app-details-view>