<app-details-view [name]="(databases$|async).database?._properties?.dbName" [actions]="actions"
  (actionClicked)="onActionClicked($event)">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="tables"
       routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive">
      Tables
    </a>
    <!-- <a mat-tab-link
       routerLink="Functions"
       routerLinkActive #rla2="routerLinkActive"
       [active]="rla2.isActive">
      Functions
    </a> -->
  </nav>
  <router-outlet></router-outlet>
  <!-- <mat-tab-group>
    <mat-tab label="Functions">
      <as-split [direction]="direction" [useTransition]="true" style="height: calc(100vh-64px);">
        <as-split-area size="30">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="filter" autocomplete="off">
          </mat-form-field>
          <mat-nav-list>
            <mat-list-item
              *ngFor="let function of (databases$|async).database?.function|objectKeys|objectListFilter:filter:'name'"
              (click)="onClickFunction(function)">
              <a matLine>{{ function.name }}</a>
            </mat-list-item>
          </mat-nav-list>
          <p>{{((databases$|async).database?.function|objectKeys).length}} functions</p>
        </as-split-area>
        <as-split-area size="70" *ngIf="databaseFunction || editFunction">
          <app-function [function]="databaseFunction" *ngIf="databaseFunction && !editFunction"></app-function>
        </as-split-area>
      </as-split>
    </mat-tab>
  </mat-tab-group> -->
</app-details-view>


<swal title="Template" #swalTemplate [showCloseButton]="true" [showConfirmButton]="true" [showCancelButton]="true"
  (confirm)="onChoseTemplate($event)">
  <div *swalPartial>
    <mat-form-field>
      <mat-select placeholder="Template" [formControl]="templateFormControl">
        <mat-option value="lookup"
          *ngIf="!(databases$|async).database.table[(databases$|async).database?._properties?.dbName + 't_lookup_lkp']">
          Lookup - provides values for drop downs</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</swal>