<as-split [direction]="direction" [useTransition]="true" style="height: calc(100vh-64px);">
    <as-split-area size="30">
      <mat-nav-list>
          <a mat-list-item
            *ngFor="let application of (applications$|async)?.applications"
            [routerLink]="application"
            routerLinkActive="selected">
            {{application}}  
          </a>
        </mat-nav-list>
    </as-split-area>
    <as-split-area size="70" *ngIf="(applications$|async)?.application">
      <router-outlet></router-outlet>
    </as-split-area>
</as-split>