<app-header></app-header>
<router-outlet></router-outlet>
<p>
    <span *ngIf="(console$|async).progress">
        <span>{{(console$|async).progress.title}}</span>&nbsp;
        <mat-progress-bar mode="determinate"
            [value]="(console$|async).progress.current / (console$|async).progress.length * 100"></mat-progress-bar>
    </span>
    <span *ngFor="let notification of (console$|async).notifications">
        <span [ngStyle]="{'color': type === 'error' ? 'red' : 'blue'}">
            <b>[{{notification.params.origin}}] {{notification.type}} -</b>
            <span>{{notification.params.message}}</span>
        </span><br>
    </span>

</p>