<h3>{{(databaseTable$|async).databaseTable?.name}} - {{(databaseTable$|async).databaseTable?.latestVersion}}</h3>
<!-- <button mat-icon-button routerLink="edit">
    <mat-icon>edit</mat-icon>
</button><br> -->
CREATE TABLE IF NOT EXISTS {{(databaseTable$|async).databaseTable?.name}} (
<app-field
    *ngFor="let field of (databaseTable$|async).databaseTable?.fields|objectKeys"
    [field]="field"
    [table]="(databaseTable$|async).databaseTable"
    [canEdit]="false"></app-field>
    <br>
);
<br>
<h4>Versions</h4>
<div>
    <span *ngFor="let version of (databaseTable$|async).databaseTable?.versions">{{version.version}}<br></span>
</div>