<mat-list>
  <!-- show title and icon for filtering -->

  <h3 *ngIf="!_showFilter" mat-subheader class="left-right" [ngStyle]="{'backgroundColor': color || '#3460a0'}"
      (click)="onShowFilter()" style="cursor: pointer">
    <span (click)="onShowFilter()">{{title}}</span>
    <div>
      <mat-icon class="filter-button">filter_list</mat-icon>
      <mat-icon [routerLink]="[newRouterLink]" *ngIf="showNew && newRouterLink"
                (click)="$event.stopPropagation()" title="Add">add
      </mat-icon>
    </div>
  </h3>

  <!-- show filter and enable user to filter as soon as they click on "filter" icon -->
  <div *ngIf="_showFilter" mat-subheader class="left-right" [ngStyle]="{'backgroundColor': color || '#3460a0'}">
    <mat-form-field class="filter-search">
      <input matInput placeholder="Filter" [(ngModel)]="_filter" (keyup)="onKeyUp($event)" #filterInput>
    </mat-form-field>
    <mat-icon (click)="_showFilter = false; _filter = '';" class="clear-button filter-search">clear</mat-icon>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <ng-content></ng-content>
  <!--With displayAttributes && Sorting-->
  <div class="mat-elevation-z8" matSort *ngIf="sorting" [ngClass]="{'noBoxShadow':boxShadow}">
    <table mat-table [dataSource]="dataSource">
      <div *ngFor="let attribute of displayAttributes">
        <ng-container matColumnDef="{{attribute}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{attribute}}</th>
          <td mat-cell
              *matCellDef="let element"
              [routerLink]="postLinkAttribute ? [parentRouteParams, element[linkAttribute], postLinkAttribute] : [parentRouteParams, element[linkAttribute]]">
            {{element[attribute]}}
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayAttributes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayAttributes;" class="item-list"></tr>
    </table>
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon style="color:black;" [routerLink]="[newRouterLink]"
                  *ngIf="showNew && newRouterLink" title="Add">add
        </mat-icon>
        <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!--With displayAttributes && Without Sorting-->
  <div class="mat-elevation-z8" *ngIf="!sorting" [ngClass]="{'noBoxShadow':boxShadow}">
    <table mat-table [dataSource]="dataSource">
      <div *ngFor="let attribute of displayAttributes">
        <ng-container matColumnDef="{{attribute}}">
          <th mat-header-cell *matHeaderCellDef> {{attribute}}</th>
          <td mat-cell
              *matCellDef="let element"
              [routerLink]="postLinkAttribute ? [parentRouteParams, element[linkAttribute], postLinkAttribute] : [parentRouteParams, element[linkAttribute]]">
            {{element[attribute]}}
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayAttributes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayAttributes;" class="item-list"></tr>
    </table>
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon style="color:black;" [routerLink]="[newRouterLink]"
                  *ngIf="showNew && newRouterLink" title="Add">add
        </mat-icon>
        <mat-paginator [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-list>
