<br>
<form [formGroup]="form" *ngIf="_edit">
  <mat-form-field style="margin-left: 5px; width: 150px;">
    <input matInput type="text" formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field style="margin-left: 5px; width: 130px;">
    <input matInput type="text" formControlName="type" placeholder="Type">
  </mat-form-field>
  <mat-form-field style="margin-left: 5px; width: 100px;">
    <mat-select formControlName="notNull" placeholder="Not null">
      <mat-option [value]="true">NOT NULL</mat-option>
      <mat-option [value]="false">NULL</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 5px; width: 100px;">
    <mat-select formControlName="default" placeholder="Default">
      <mat-option [value]="false"></mat-option>
      <mat-option [value]="true">DEFAULT</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 5px; width: 100px;">
    <mat-select formControlName="unique" placeholder="Unique">
      <mat-option [value]="false"></mat-option>
      <mat-option [value]="true">UNIQUE</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-left: 5px; width: 150px;">
    <input matInput type="text" formControlName="defaultValue" placeholder="Default Value">
  </mat-form-field>
  <button mat-icon-button [disabled]="!form.valid">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-icon-button (click)="onDelete()">
    <mat-icon>delete</mat-icon>
  </button>
  ,
</form>
<span *ngIf="!_edit" (click)="canEdit ? _edit = true : null" style="cursor: pointer;">
  <span style="margin-left: 20px;">{{field.name}}</span>
  <span style="color:blueviolet">&nbsp;{{field.type}}</span>
  <span *ngIf="field.isPrimaryKey; else null" style="color: #128496">
    &nbsp;PRIMARY KEY
  </span>
  <ng-container style="color: orange" *ngIf="field.notNull; else nullField">
    &nbsp;NOT NULL
  </ng-container>
  <ng-template #nullField style="color: orange">
    &nbsp;NULL
  </ng-template>
  <span *ngIf="field.unique" style="color: #128496">
    &nbsp;UNIQUE
  </span>
  <span *ngIf="field.isForeignKey && field.foreignKey; else null">
    &nbsp;REFERENCES {{field.foreignKey.table}}({{field.foreignKey.key}})
  </span>
  <span *ngIf="field.default; else null">
    &nbsp;DEFAULT {{field.defaultValue}}
  </span>
  <span style="color: #007213">
      <span *ngIf="(field.tags|objectKeys).length">/*&nbsp;</span>
      <app-database-tag *ngFor="let tag of field.tags|objectKeys"
          [tag]="tag" (remove)="removeTag.emit({tag: tag, field: field})"></app-database-tag>
      <button style="width: 20px; height: 20px; line-height: 20px;" mat-icon-button [matMenuTriggerFor]="menuTag" *ngIf="availableTags.length">
          <mat-icon>tag</mat-icon>
      </button>
      <mat-menu #menuTag="matMenu">
          <button mat-menu-item *ngFor="let tag of availableTags" (click)="addTag.emit({tag: tag, field: field})">
              #&nbsp;{{tag.name}}
          </button>
      </mat-menu>
      <span *ngIf="(field.tags|objectKeys).length">*/</span>
  </span>
  ,
</span>