CREATE TABLE IF NOT EXISTS <span style="color: coral">{{database._properties.dbName}}t_</span>
<span>
  <mat-form-field *ngIf="_editTableName">
    <input matInput #tableName type="text" [formControl]="tableNameControl" (keyup)="onTableNameKeyup($event)"
      (blur)="onTableNameBlur()" placeholder="Table Name" autocomplete="off">
  </mat-form-field>
  <mat-form-field *ngIf="_editTableName">
    <input matInput type="text" [formControl]="tableSuffixControl" (keyup)="onTableNameKeyup($event)"
      (blur)="onTableNameBlur()" placeholder="Table Suffix" autocomplete="off">
  </mat-form-field>
  <span *ngIf="!_editTableName"
    (click)="_editTableName = true"
    [ngStyle]="{'cursor': 'pointer', 'color': tableNameControl.valid ? 'green' : 'grey'}">{{tableNameControl.value}}</span>
  <span *ngIf="!_editTableName"
    (click)="_editTableName = true"
    [ngStyle]="{'cursor': 'pointer', 'color': tableSuffixControl.valid ? 'green' : 'grey'}">_{{tableSuffixControl.value}}</span>
</span> (

<div *ngIf="tableNameControl.valid && tableSuffixControl.valid && !_editTableName" @fieldsAnimation>
  <span class="field" *ngFor="let field of _fields"><app-field [field]="field"></app-field><br>
  </span>
  &nbsp;&nbsp;<button class="field" mat-stroked-button [swal]="swalAddField">Add</button><br>
</div>
);
<button mat-stroked-button color="primary" (click)="onSave()">Save</button>
<button mat-stroked-button (click)="onCancel()">Cancel</button>

<swal title="Add field" #swalAddField [showCloseButton]="true" [showConfirmButton]="false">
  <form [formGroup]="fieldFormGroup" *swalPartial>
    <mat-checkbox [formControl]="fieldFormGroup.get('isForeignKey')">Is foreign Key</mat-checkbox>
    <mat-form-field *ngIf="fieldFormGroup.get('isForeignKey').value">
      <mat-select [formControl]="fieldFormGroup.get('foreignKeyTable')">
        <mat-option *ngFor="let table of database.table|objectKeys" [value]="table.name">{{table.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="text" [formControl]="fieldFormGroup.get('name')" placeholder="Field Name"
        autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [formControl]="fieldFormGroup.get('type')" placeholder="Field Type"
        autocomplete="off">
    </mat-form-field>
    <br>
    <mat-checkbox [formControl]="fieldFormGroup.get('isNotNull')">Not Null</mat-checkbox>
    <mat-checkbox [formControl]="fieldFormGroup.get('isUnique')">Unique</mat-checkbox>
    <br>
    <mat-checkbox [formControl]="fieldFormGroup.get('hasDefault')">Default ?</mat-checkbox>
    <mat-form-field *ngIf="fieldFormGroup.get('hasDefault').value">
      <input matInput type="text" [formControl]="fieldFormGroup.get('defaultValue')" placeholder="Default"
        autocomplete="off">
    </mat-form-field>
    <br>
    <app-field [field]="_tempField" [canEdit]="false"></app-field><br>
    <br>
    <button mat-stroked-button (click)="swalAddField.close()">Cancel</button>
    <button mat-stroked-button [disabled]="!fieldFormGroup.valid" (click)="onAddField()">Add</button>
  </form>
</swal>